@model Foot2site_V1.Modele.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.utilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.utilisateur.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
