@model Foot2site_V1.Modele.Ligne_Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ligne_Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixUnitaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixUnitaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_STOCK_PRODUIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_STOCK_PRODUIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commande.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
